# Ignore everything
*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!rush.json
!packages
!common

!docker/config

common/temp

# Ignore all node_modules directories within packages
packages/**/node_modules



