@tailwind base;

@layer base {
    html {
        overflow: hidden;
        overscroll-behavior-y: none;
        height: 100%;
    }

    body {
        @apply bg-gray-100 dark:bg-slate-800 text-gray-600 dark:text-slate-100;
        overflow: auto;
        height: 100%;
    }

    a {
        text-decoration: none;
        color: var(--color-primary)
    }
}

