@tailwind base;

body {
    background-color: rgb(252 252 252) !important;
    overflow: auto;
    color: var(--color-text-base);
    height: 100%;
}

#main {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

    margin-top: 60px;
}

a {
    text-decoration: none;
}

.focus-hidden {
   outline: none;
}

:focus:not(.focus-hidden), :focus-visible:not(.focus-hidden) {
    @apply outline-1 outline-blue-400;
}
