@layer components {
    .vc-sketch {
        @apply bg-highlight text-main;
    }

    .vc-sketch-field .vc-input__label {
        @apply text-main;
    }

    .vc-sketch-field .vc-input__input {
        @apply bg-highlight;
    }

    .multiselect .multiselect__tags, .multiselect .multiselect__content-wrapper {
        @apply bg-main border-divide text-main;
    }

    .multiselect--active .multiselect__tags {
        @apply border-blue-300 ring ring-blue-200 ring-opacity-50;
    }

    .multiselect .multiselect__content-wrapper {
        @apply border-b-0 border-blue-300 ring ring-blue-200 ring-opacity-50;
        border-color: var(--color-divide) !important;
    }

    .dark .multiselect .multiselect__tags, .multiselect .multiselect__content-wrapper {
        @apply bg-highlight;
    }

    .multiselect .multiselect__tags input {
        @apply bg-main;
        box-shadow: none;
    }

    .dark .multiselect .multiselect__tags input {
        @apply bg-highlight;
        box-shadow: none;
    }

    .multiselect .multiselect__tags input::placeholder {
        @apply text-dimmed;
    }

    .dark .multiselect .multiselect__option:not(.multiselect__option--highlight, .multiselect__option--selected) {
        @apply bg-main text-main;
    }

    .dark .multiselect .multiselect__option--selected:not(.multiselect__option--highlight) {
        @apply bg-main text-main;
    }

    [type="checkbox"]:not(:checked),
    [type="radio"]:not(:checked) {
        opacity: 0.3;
    }

    .dark [type="checkbox"]:not(:checked),
    [type="radio"]:not(:checked) {
        opacity: 0.4;
    }

    .dark [type="checkbox"]:disabled:not(:checked),
    .dark [type="radio"]:disabled:not(:checked) {
        opacity: 0.1 !important;
    }

    [type="checkbox"]:disabled,
    [type="radio"]:disabled {
        opacity: 0.3 !important;
        cursor: not-allowed;
    }

    [type="checkbox"]:disabled + .label,
    [type="radio"]:disabled + .label {
        cursor: not-allowed;
    }

    [type="checkbox"],
    [type="radio"] {
        --tw-ring-offset-shadow: none !important;
    }

    [type="checkbox"]:checked,
    [type="radio"]:checked {
        animation: wave 0.4s ease;
        transition: all 0.6s ease;
    }

    [type="text"],
    textarea {
        @apply bg-main border-divide w-full rounded-md border-divide shadow-sm bg-white  focus:ring focus:ring-blue-200 focus:ring-opacity-50
    }

    [type="text"]:not(.bg-main),
    textarea:not(.bg-main) {
        @apply dark:bg-highlight
    }

    input.search {
        @apply rounded-full
    }

    @keyframes wave {
        50% {
            transform: scale(0.9);
        }
    }

    [type="checkbox"].primary,
    [type="radio"].primary {
        --tw-ring-offset-shadow: none;
        border-color: var(--color-primary);
    }

    [type="checkbox"].primary:checked,
    [type="radio"].primary:checked {
        background-color: var(--color-primary);
    }

    [type="checkbox"].secondary,
    [type="radio"].secondary {
        --tw-ring-offset-shadow: none;
        border-color: var(--color-secondary);
    }

    [type="checkbox"].secondary:checked,
    [type="radio"].secondary:checked {
        background-color: var(--color-secondary);
    }

    [type="checkbox"].success,
    [type="radio"].success {
        --tw-ring-offset-shadow: none;
        border-color: var(--color-success);
    }

    [type="checkbox"].success:checked,
    [type="radio"].success:checked {
        background-color: var(--color-success);
        opacity: 1;
    }

    [type="checkbox"].info,
    [type="radio"].info {
        --tw-ring-offset-shadow: none;
        border-color: var(--color-info);
    }

    [type="checkbox"].info:checked,
    [type="radio"].info:checked {
        background-color: var(--color-info);
    }

    [type="checkbox"].warning,
    [type="radio"].warning {
        --tw-ring-offset-shadow: none;
        border-color: var(--color-warning);
    }

    [type="checkbox"].warning:checked,
    [type="radio"].warning:checked {
        background-color: var(--color-warning);
    }

    [type="checkbox"].danger,
    [type="radio"].danger {
        --tw-ring-offset-shadow: none;
        border-color: var(--color-danger);
    }

    [type="checkbox"].danger:checked,
    [type="radio"].danger:checked {
        background-color: var(--color-danger);
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=range] {
        appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        margin: 18px 0;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        @apply bg-highlight rounded;
        width: 100%;
        height: .5rem;
        cursor: pointer;
        border-color: transparent;
    }

    input[type=range]:disabled::-webkit-slider-runnable-track {
        cursor: not-allowed;
    }

    input[type=range]::-webkit-slider-thumb {
        @apply rounded-full;
        box-shadow: 0 .1rem .25rem rgba(0, 0, 0, 0.1);
        background-color: var(--color-primary);
        margin-top: calc((.5rem - 1rem) * .5);
        border: 0;
        height: 1rem;
        width: 1rem;
        cursor: pointer;
        -webkit-appearance: none;
        -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    input[type=range].success::-webkit-slider-thumb {
        background-color: var(--color-success);
    }

    input[type=range].warning::-webkit-slider-thumb {
        background-color: var(--color-warning);
    }

    input[type=range].info::-webkit-slider-thumb {
        background-color: var(--color-info);
    }

    input[type=range].danger::-webkit-slider-thumb {
        background-color: var(--color-danger);
    }

    input[type=range]:active::-webkit-slider-thumb {
        background-color: var(--color-primary-light);
    }

    input[type=range].success:active::-webkit-slider-thumb {
        background-color: var(--color-success-light);
    }

    input[type=range].warning:active::-webkit-slider-thumb {
        background-color: var(--color-warning-light);
    }

    input[type=range].info:active::-webkit-slider-thumb {
        background-color: var(--color-info-light);
    }

    input[type=range].danger:active::-webkit-slider-thumb {
        background-color: var(--color-danger-light);
    }

    input[type=range]:disabled::-webkit-slider-thumb {
        @apply bg-gray-300;
        cursor: not-allowed;
    }

    input[type=range]:focus::-webkit-slider-thumb {
        box-shadow: 0 0 0 1px white, 0 0 0 4px rgba(191, 219, 254, 0.8);
    }

    input[type=range]::-moz-range-track {
        @apply bg-gray-200 rounded;
        width: 100%;
        height: .5rem;
        cursor: pointer;
        border-color: transparent;
    }

    input[type=range]:disabled::-moz-range-track {
        cursor: not-allowed;
    }

    input[type=range]::-moz-range-thumb {
        @apply rounded-full;
        box-shadow: 0 .1rem .25rem rgba(0, 0, 0, 0.1);
        background-color: var(--color-primary);
        margin-top: calc((.5rem - 1rem) * .5);
        border: 0;
        height: 1rem;
        width: 1rem;
        cursor: pointer;
        appearance: none;
        -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    input[type=range].success::-moz-range-thumb {
        background-color: var(--color-success);
    }

    input[type=range].warning::-moz-range-thumb {
        background-color: var(--color-warning);
    }

    input[type=range].info::-moz-range-thumb {
        background-color: var(--color-info);
    }

    input[type=range].danger::-moz-range-thumb {
        background-color: var(--color-danger);
    }

    input[type=range]:active::-moz-range-thumb {
        background-color: var(--color-primary-light);
    }

    input[type=range].success:active::-moz-range-thumb {
        background-color: var(--color-success-light);
    }

    input[type=range].warning:active::-moz-range-thumb {
        background-color: var(--color-warning-light);
    }

    input[type=range].info:active::-moz-range-thumb {
        background-color: var(--color-info-light);
    }

    input[type=range].danger:active::-moz-range-thumb {
        background-color: var(--color-danger-light);
    }

    input[type=range]:disabled::-moz-range-thumb {
        @apply bg-gray-300;
        cursor: not-allowed;
    }

    input[type=range]:focus::-moz-range-thumb {
        box-shadow: 0 0 0 1px white, 0 0 0 4px rgba(191, 219, 254, 0.8);
    }

    .form-input:not(:last-child,.mb-0),
    fieldset:not(:last-child,.mb-0) {
        @apply mb-2;
    }


    /* Chrome, Safari, Edge, Opera */
    .form-input input::-webkit-outer-spin-button,
    .form-input input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .form-input input[type=number] {
        -moz-appearance: textfield;
    }

    .form-input input:disabled,
    .form-input input[readonly],
    .form-input select:disabled,
    .form-input select[readonly],
    .form-input textarea:disabled,
    .form-input textarea[readonly] {
        @apply bg-gray-100;
    }

    .form-input.required label:after {
        content: " *";
        color: var(--color-primary);
    }

    .form-input.required label:after {
        content: " *";
        color: var(--color-primary);
    }

    .form-select {
        line-height: 1.25em;
    }

    .floating-input {
        padding: 1.625rem 0.75rem 0.625rem;
        height: calc(3.5rem + 2px);
        transition: border-color 0.5s;
        @apply block w-full rounded-md border-divide shadow-sm bg-white focus:border-divide focus:ring focus:ring-blue-200 focus:ring-opacity-50;
    }

    .floating-input:not(.bg-main) {
        @apply dark:bg-highlight
    }

    .floating-input.no-label {
        height: calc(2.5rem + 2px);
        padding-top: 0.625rem;
    }

    .floating-input.loading {
        animation-duration: 1.8s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
        background-size: 1000px 640px;
        position: relative;
    }

    @keyframes placeHolderShimmer {
        0% {
            background-position: -468px 0
        }
        100% {
            background-position: 468px 0
        }
    }

    .floating-input.attachment-r {
        @apply rounded-r-none;
    }

    .floating-input.attachment-l {
        @apply rounded-l-none;
    }

    .form-input .number-slider {
        position: absolute;
        top: 11px;
        right: 10px;
        display: flex;
    }

    .form-input label ~ .number-slider {
        position: absolute;
        top: 28px;
        right: 10px;
        display: flex;
    }

    textarea.floating-input {
        height: auto;
    }

    .floating-input.is-invalid {
        border-color: var(--color-danger);
        @apply ring-red-500 ring-opacity-25;
    }
}
