@tailwind utilities;

@layer utilities {
    .focus-hidden {
        outline: none;
    }

    :focus:not(.focus-hidden), :focus-visible:not(.focus-hidden) {
        @apply outline-1 outline-blue-400;
    }

    .attachment-r {
        @apply rounded-r-none;
    }

    .attachment-b {
        @apply rounded-b-none;
    }

    .attachment-t {
        @apply rounded-t-none;
    }

    .attachment-l {
        @apply rounded-r-none;
    }

    .scrollbar-thin {
        scrollbar-width: thin;
    }

    .scrollbar-thin::-webkit-scrollbar {
        width: 5px;
    }

    .scrollbar-thin::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        background: var(--color-secondary-light);
        border-radius: 5px;
    }

    .dark .scrollbar-thin::-webkit-scrollbar-thumb {
        background: var(--color-secondary-dark);
    }

    .line-clamp-1 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .line-clamp-2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .line-clamp-3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .line-clamp-4 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    .line-clamp-5 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
    }

    .line-clamp-none {
        -webkit-line-clamp: unset;
    }
}
