:root {
    --color-divide: rgba(0, 0, 0, 0.125);

    --color-lyvely: #48cd48;

    --color-primary: #3B82F6;
    --color-primary-dark: #2563EB;
    --color-primary-light: #60A5FA;

    --color-secondary: #6B7280;
    --color-secondary-dark: #4B5563;
    --color-secondary-light: #9CA3AF;

    --color-warning: #F59E0B;
    --color-warning-dark: #D97706;
    --color-warning-light: #FBBF24;

    --color-info: #93C5FD;
    --color-info-light: #BFDBFE;
    --color-info-dark: #60A5FA;

    --color-danger: #DC2626;
    --color-danger-dark: #B91C1C;
    --color-danger-light: #EF4444;

    --color-success: #059669;
    --color-success-dark: #047857;
    --color-success-light: #10B981;

    --elements-main: #ffffff;
    --elements-shadow: #f3f4f6;
    --elements-highlight: #f1f5f9;

    --color-pop: #48ce48;

    --text-main: #4b5563;
    --text-dimmed: #6b7280;
    --text-inverted: #f3f4f6;

    --media-min-sm: 640px;
    --media-min-md: 768px;
    --media-min-lg: 1024px;
    --media-min-xl: 1280px;
    --media-min-2xl: 1536px;
}

.dark {
    --elements-main: #1f2937;
    --elements-shadow: #374151;
    --elements-highlight: #334155;

    --text-main: #f3f4f6;
    --text-dimmed: #bbbec4;
    --text-inverted: #1e293b;

    --color-divide: rgba(255,255,255,0.125);
    --color-secondary: #dcdcdc;
    --color-inverted: rgba(0, 0, 0, 0.80);
}
