/* Linked Styles */
body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#ffffff; -webkit-text-size-adjust:none }
a { color:#0000ee; text-decoration:none }
p { padding:0 !important; margin:0 !important }
img { -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }
.mcnPreviewText { display: none !important; }

.button {
    border-radius: 2px;
}

.button a {
    padding: 8px 12px;
    border: 1px solid #ED2939;
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}


/* Mobile styles */
@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
    .mobile-shell {
        width: 100% !important;
        min-width: 100% !important;
    }

    .bg {
        background-size: 100% auto !important;
        -webkit-background-size: 100% auto !important;
    }

    .text-header,
    .m-center {
        text-align: center !important;
    }

    .center {
        margin: 0 auto !important;
    }

    .container {
        padding: 20px 10px !important
    }

    .td {
        width: 100% !important;
        min-width: 100% !important;
    }

    .m-br-15 {
        height: 15px !important;
    }

    .p30-15 {
        padding: 30px 15px !important;
    }

    .p0-15-30 {
        padding: 0 15px 30px 15px !important;
    }

    .p0-15 {
        padding: 0 15px !important;
    }

    .mpb30 {
        padding-bottom: 30px !important;
    }

    .mpb15 {
        padding-bottom: 15px !important;
    }

    .m-td,
    .m-hide {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        font-size: 0 !important;
        line-height: 0 !important;
        min-height: 0 !important;
    }

    .m-block {
        display: block !important;
    }

    .fluid-img img {
        width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
    }

    .column,
    .column-dir,
    .column-top,
    .column-empty,
    .column-empty2,
    .column-dir-top {
        float: left !important;
        width: 100% !important;
        display: block !important;
    }

    .column-empty {
        padding-bottom: 30px !important;
    }

    .column-empty2 {
        padding-bottom: 10px !important;
    }

    .content-spacing {
        width: 15px !important;
    }
}
