import { ServerConfiguration } from '@lyvely/api';

export default {
  appName: '${APP_NAME}',
  operationMode: 'standalone',
  docUrl: '${DOCS_URL}',
  contactMail: 'help@${BASE_URL}',
  http: {
    host: '${API_HOST}',
    port: ${API_PORT},
    baseUrl: 'https://${HTTP_HOST}/api',
    appUrl: 'https://${HTTP_HOST}',
    trustProxy: 1,
  },
  mongodb: {
    uri: '${MONGO_URI}',
    replicaSet: true,
    transactions: true
  },
  redis: {
    host: 'redis',
    port: 6379,
  },
  mail: {
    transport: {
      host: '${MAIL_HOST}',
      port: 587,
      pool: true,
      secure: false, // upgrade later with STARTTLS https://nodemailer.com/smtp/
      ignoreTLS: false,
      auth: {
        user: '${MAIL_USER}',
        pass: '${MAIL_PASSWORD}'
      }
    },
    defaults: {
     from: '"${APP_NAME}" <no-reply@${BASE_URL}>',
    },
  },
  auth: {
    jwt: {
      'secure-cookies': true,
      access: {
        secret: '${JWT_ACCESS_TOKEN}',
        expiresIn: '2m',
        sameSite: 'lax',
      },
      refresh: {
        secret: '${JWT_REFRESH_TOKEN}',
        expiresIn: '5m',
        expiresInRemember: '200d',
        sameSite: 'lax',
      },
      verify: {
        secret: '${JWT_VERIFY_TOKEN}',
        expiresIn: '1d',
      },
    },
  },
  helmet: {
    contentSecurityPolicy: {
      directives: {
        'img-src': ["'self'", 'lyvely.app'],
      },
    },
  },
} as ServerConfiguration;
