worker_processes  1;

events {
    worker_connections  ${WORKER_CONNECTIONS};
}

http {
    include    /etc/nginx/mime.types;
    client_max_body_size ${MAX_BODY_SIZE};
    index    index.html index.htm index.php;

    default_type application/octet-stream;
    log_format   main '$remote_addr - $remote_user [$time_local]  $status '
    '"$request" $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';
    access_log   /var/log/nginx/access.log  main;
    sendfile     on;
    tcp_nopush   on;

    server {
        listen 80;
        server_name ${BASE_URL};
        return 301 https://${HTTP_HOST}$request_uri;
    }

    server {
            listen 443 ssl;
            server_name ${BASE_URL};
            return 301 https://${HTTP_HOST}$request_uri;

            ssl_certificate /etc/nginx/certs/${SSL_CERT};
            ssl_certificate_key /etc/nginx/certs/${SSL_CERT_KEY};
    }

    server {
        listen 443 ssl;
        server_name ${HTTP_HOST};

        ssl_certificate /etc/nginx/certs/${SSL_CERT};
        ssl_certificate_key /etc/nginx/certs/${SSL_CERT_KEY};

        root /usr/share/nginx/html;

        index index.html;

        location / {
            try_files $uri $uri/ /index.html;
        }

        location /api {
            proxy_pass http://lyvely:${API_PORT}/api;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /api/live {
            proxy_pass http://lyvely:${API_PORT}/api/live;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_http_version 1.1;
            proxy_set_header Connection '';
            proxy_set_header Cache-Control 'no-cache';
            proxy_set_header X-Accel-Buffering no;
            proxy_set_header Content-Type 'text/event-stream';
        }
    }
}
