worker_processes  auto;

events {
    worker_connections  ${WORKER_CONNECTIONS};
}

http {

    include    /etc/nginx/mime.types;
    client_max_body_size ${MAX_BODY_SIZE};
    index    index.html;

    gzip on;
    gzip_vary on;
    gzip_min_length 10240;
    gzip_proxied expired no-cache no-store private auth;
    gzip_types text/plain text/html text/css text/xml text/javascript application/javascript application/x-javascript application/xml;
    gzip_disable "MSIE [1-6]\.";

    default_type application/octet-stream;
    log_format   main '$remote_addr - $remote_user [$time_local]  $status '
    '"$request" $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';
    access_log   /var/log/nginx/access.log  main;
    sendfile     on;
    tcp_nopush   on;

    include /etc/nginx/sites-enabled/*
}
