.timing-list {
    @apply flex flex-col p-0 rounded;
}

.timing-list-item {
    @apply py-2 px-3;
}

.timing-list-header-item {
    @apply text-center border;
}

.timing-list-item:not(.timing-list-header-item) {
    @apply bg-content;
}

.timing-list-header-item:first-child {
    @apply rounded-t;
}

.timing-list-item:last-child {
    @apply rounded-b;
}

[data-timing-header] + [data-timing-header] {
    border-top:0;
}

[data-timing-header][data-count="0"] + [data-timing-item-container] + [data-timing-header] {
    border-top:0;
}

.timing-list-items {
    @apply divide-y divide-divide border-l border-l border-r border-divide
}

.timing-unscheduled[data-count="0"] {
    @apply rounded-b;
}

.timing-unscheduled + div {
    @apply rounded-b border-b
}

.timing-unscheduled + div .timing-list-items {
    @apply rounded-b
}

.timing-list-entry-root .list-group-item:first-child {
    border-top:0;
}

.timing-title {
    @apply inline-block my-0 mx-2 cursor-pointer;
    min-width: 110px;
}
