:root {
  --color-divide: rgba(0, 0, 0, 0.125);

  --color-lyvely: #48cd48;

  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-primary-light: #60a5fa;

  --color-secondary: #6b7280;
  --color-secondary-dark: #4b5563;
  --color-secondary-light: #9ca3af;

  --color-warning: #f59e0b;
  --color-warning-dark: #d97706;
  --color-warning-light: #fbbf24;

  --color-info: #93c5fd;
  --color-info-light: #bfdbfe;
  --color-info-dark: #60a5fa;

  --color-danger: #dc2626;
  --color-danger-dark: #b91c1c;
  --color-danger-light: #ef4444;

  --color-success: #059669;
  --color-success-dark: #047857;
  --color-success-light: #10b981;

  --elements-body: #f3f4f6;
  --elements-main: #ffffff;
  --elements-shadow: #e5e7eb;
  --elements-highlight: #d8dae3;
  --elements-sidebar: #0e172c;

  --color-pop: #48ce48;

  --text-highlight: #1e2328;
  --text-main: #4b5563;
  --text-dimmed: #6b7280;
  --text-inverted: #f3f4f6;
  --text-sidebar: #ecf2f8;

  --media-min-sm: 640px;
  --media-min-md: 768px;
  --media-min-lg: 1024px;
  --media-min-xl: 1280px;
  --media-min-2xl: 1536px;
}

.dark {
  --elements-body: #1e293b;
  --elements-main: #1f2937;
  --elements-shadow: #374151;
  --elements-highlight: #334155;

  --text-highlight: #ffffff;
  --text-main: rgb(219, 222, 225);
  --text-dimmed: #bbbec4;
  --text-inverted: #1e293b;

  --color-divide: rgba(255, 255, 255, 0.125);
  --color-secondary: #dcdcdc;
  --color-success: rgb(13, 155, 131);
  --color-inverted: rgba(0, 0, 0, 0.8);
}
