:root {
  --color-divide: rgba(0, 0, 0, 0.125);

  --color-lyvely: 72 205 72;

  --color-primary: 59 130 246;
  --color-primary-dark: 37 99 235;
  --color-primary-light: 96 165 250;

  --color-secondary: 107 114 128;
  --color-secondary-dark: 75 85 99;
  --color-secondary-light: 156 163 175;

  --color-warning: 245 158 11;
  --color-warning-dark: 217 119 6;
  --color-warning-light: 251 191 36;

  --color-info: 147 197 253;
  --color-info-light: 191 219 254;
  --color-info-dark: 96 165 250;

  --color-danger: 220 38 38;
  --color-danger-dark: 185 28 28;
  --color-danger-light: 239 68 68;

  --color-success: 5 150 105;
  --color-success-dark: 4 120 87;
  --color-success-light: 16 185 129;

  --elements-body: 243 244 246;
  --elements-main: 255 255 255;
  --elements-shadow: 229 231 235;
  --elements-highlight: 216 218 227;
  --elements-sidebar: 14 23 44;

  --color-pop: 72 206 72;

  --text-highlight: 30 35 40;
  --text-main: 75 85 99;
  --text-dimmed: 107 114 128;
  --text-inverted: 243 244 246;
  --text-sidebar: 236 242 248;

  --media-min-sm: 640px;
  --media-min-md: 768px;
  --media-min-lg: 1024px;
  --media-min-xl: 1280px;
  --media-min-2xl: 1536px;
}

.dark {
  --elements-body: 30 41 59;
  --elements-main: 31 41 55;
  --elements-shadow: 55 65 81;
  --elements-highlight: 51 65 85;

  --text-highlight: 255 255 255;
  --text-main: 219 222 225;
  --text-dimmed: 187 190 196;
  --text-inverted: 30 41 59;

  --color-divide: rgba(255, 255, 255, 0.125);
  --color-secondary: 220 220 220;
  --color-success: 13 155 131;
  --color-inverted: 0, 0, 0;
}
