.button {
    transition: background 0.5s;
}
.button.disabled, .button:disabled {
    cursor: not-allowed;
}

.button.primary,
.button.secondary,
.button.warning,
.button.info,
.button.secondary,
.button.danger {
    @apply border text-inverted;
}

.dark .button {
    @apply text-main
}

.dark .button.outlined.active, .dark .button.outlined:hover {
    color: var(--text-main) !important;
}

.button.primary {
    @apply border-primary bg-primary;
}

.button.primary.outlined {
    @apply border-primary bg-transparent text-primary;
}

.button.primary:hover, .button.primary.active  {
    @apply border-primary-dark bg-primary-dark;
}

.button.primary:disabled, .button.primary.disabled {
    @apply border-primary-light bg-primary-light;
}

.button.primary.outlined:hover, .button.primary.outlined.active {
    @apply border-primary bg-primary text-inverted;
}

.button.secondary {
    @apply border-secondary bg-secondary dark:border-gray-700 dark:bg-gray-700;
}

.button.secondary:hover:not([disabled]), .button.secondary.active:not([disabled]) {
    @apply border-secondary-dark bg-secondary-dark dark:bg-gray-600;
}

.button.secondary:disabled, .button.secondary.disabled {
    @apply border-secondary-light bg-secondary-light;
}

.button.secondary.outlined {
    @apply border-secondary bg-transparent text-secondary dark:border-gray-600;
}

.button.secondary.outlined.active {
    @apply bg-secondary text-inverted dark:bg-gray-600 dark:text-gray-300;
}

.button.secondary.outlined:hover {
    @apply bg-gray-200 text-secondary dark:bg-gray-700 dark:text-gray-300;
}

.button.info {
    @apply border-info bg-info text-inverted;
}

.button.info.outlined {
    @apply border-info bg-transparent text-info;
}

.button.info:hover, .button.info.active {
    @apply border-info-dark bg-info-dark;
}

.button.info:disabled, .button.info.disabled {
    @apply border-info-light bg-info-light
}

.button.info.outlined:hover, .button.info.outlined.active {
    @apply border-info bg-info text-inverted;
}

.button.success {
    @apply border border-success bg-success text-inverted;
}

.button.success.outlined {
    @apply border-success bg-transparent text-success;
}

.button.success:hover, .button.success.active {
    @apply border-success-dark bg-success-dark;
}

.button.success:disabled, .button.success.disabled {
    @apply border-success-light bg-success-light;
}

.button.success.outlined:hover, .button.success.outlined.active {
    @apply border-success bg-success text-inverted;
}

.button.warning {
    @apply border-warning bg-warning text-inverted;
}

.button.warning.outlined {
    @apply border-warning bg-transparent text-warning;
}

.button.warning:hover, .button.warning.active  {
    @apply border-warning-dark bg-warning-dark;
}

.button.warning:disabled, .button.warning.disabled  {
    @apply border-warning-light bg-warning-light;
}

.button.warning.outlined:hover, .button.warning.outlined.active {
    @apply border-warning bg-warning text-inverted;
}

.button.danger {
    @apply border-danger bg-danger text-inverted;
}

.button.danger.outlined {
    @apply border-danger bg-transparent text-danger;
}

.button.danger:hover, .button.danger.active {
    @apply border-danger-dark bg-danger-dark;
}

.button.danger:disabled, .button.danger.disabled {
    @apply border-danger-light bg-danger-light;
}

.button.danger.outlined:hover, .button.danger.outlined.active {
    @apply border-danger bg-danger text-inverted;
}

.button-group .button:not(:first-child) {
    border-left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.button-group .button:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.button-group .button:first-child {
    @apply rounded-l;
}

.button-group .button:last-child {
    @apply rounded-r;
}
